<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Old Password</ion-label>
    <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm New Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="changePassword()">
    Change Password
  </ion-button>
</ion-content>
