.login-page {
  --background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: entering 1s ease-in;
}
@keyframes entering {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-container {
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 5px 5px 14px -7px rgba(0, 0, 0, 0.66);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

ion-input {
  /*   --background: #f5f5f5;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --border-radius: 6px; */
  margin-bottom: 16px;
  font-size: 16px;
  color: #5a5a5a;
}

.login-btn {
  --background: #396aff;
  --border-radius: 6px;
  height: 44px;
  font-size: 16px;
  margin-top: 20px;
}
// error message styling
.error-msg {
  color: #ff4d4f;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .login-container {
    padding: 30px 20px;
    box-shadow: none;
    width: 90%;
    transform: translateY(-75%);
  }
}
