ion-content {
  --background: #eff1f2;
}
.form_field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(25%);

  ion-item {
    --border-radius: 10px;
  }
  ion-button {
    @extend ion-item;
    --box-shadow: none;
  }

  strong {
    font-size: 1.5em;
    color: #0F4CB1;
  }
}
