.splash-screen {
  --background: #ffffff;

  .splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fadeIn 1s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
