.splash-screen {
  --background: #ffffff;

  .splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 6px;
    height: 100%;
    animation: fadeIn 2s linear;
  }
  .welcome {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1957ffdd;
    letter-spacing: -1.5px;
  }
  p {
    color: #a0a0a0;
    font-size: 10px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
