.container {
  padding: 16px;
  background-color: #ffffff;
  height: 100%;
}
ion-header {
  box-shadow: none;
  padding-inline: 30px;

  ion-toolbar {
    --background: #ffffff;
    --color: #343c6a;

    ion-title {
      font-weight: bold;
      font-size: 24px;
      text-decoration: underline;
    }
  }
  ion-icon {
    margin-right: 16px;
    color: #e53935;
    font-size: 2em;
    cursor: pointer;
  }
}
ion-content {
  .addHeader {
    color: #343c6aaa;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  ion-card.addTeachersCard {
    border-radius: 12px;
    border: 1px solid #ededed;
    box-shadow: none;
    padding: 20px;

    ion-button {
      margin-top: 20px;
      --background: #396aff;
      --color: #ffffff;
      --border-radius: 8px;
      width: 100%;
      --box-shadow: none;
      transition: all 0.3s ease;

      &:hover {
        --background: #396aff;
      }
    }
  }
  .mangeTeahcerSticky {
    position: sticky;
    top: -17px;
    background: #fff;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ion-searchbar {
    --box-shadow: none;
    margin-block: 10px;
    --border-radius: 20px;
  }

  ion-item-option {
    background-color: #fff;
    position: relative;
    border: 1px solid #ededed;
  }
  .slideToEdit {
    font-size: 0.8em;
    color: #999;
    margin-left: 8px;
  }

  .empty {
    text-align: center;
    color: #999;
    font-size: 1.2em;
  }
  .teachersListCard ion-item {
    box-shadow: none;
    padding: 20px;
    position: relative;

    &::before, &::after {
      content: "";
      position: absolute;
      height: 23px;
      width: 100%;
      background-color: #396aff;
      left: 0;
      bottom: -3px;
    }
  }
}
