ion-header {
  box-shadow: 0px -30px 30px 5px rgba(0, 0, 0, 0.879);
}
.search {
  --border-radius: 50px;
  --box-shadow: none;
  position: sticky;
  top: -20px;
  z-index: 10;
}
table {
  width: 100%;
  text-align: center;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #f0e5e5;
  }
  th {
    background-color: #2c2c2cdb;
    color: white;
  }
}
ion-avatar {
  margin: auto;
}
.table_list {
  box-shadow: 0px 7px 10px -9px;
}
.item_hover:hover {
  --background: #0000000f;
  cursor: pointer;
}
.empty {
  text-align: center;
  margin-top: 30px;
}
ion-icon {
  cursor: pointer;
}
form {
  margin-top: 50px;
}
