.container {
  background-color: #ffffff;
  height: 100%;
}
ion-header {
  box-shadow: none;
  border: 1px solid #ededed;

  ion-toolbar {
    --background: #ffffff;
    --color: #343c6a;

    ion-title {
      font-weight: bold;
      font-size: 20px;
    }
  }
  ion-icon {
    margin-right: 16px;
    color: #e53935;
    font-size: 1.4em;
    cursor: pointer;
  }
}
ion-content {
  .addHeader {
    color: #343c6aaa;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  ion-card.addTeachersCard {
    border-radius: 12px;
    border: 1px solid #ededed;
    box-shadow: none;

    ion-button {
      margin-top: 20px;
      --background: #396aff;
      --color: #ffffff;
      --border-radius: 8px;
      width: 100%;
      --box-shadow: none;
      transition: all 0.3s ease;

      &:hover {
        --background: #396aff;
      }
    }
  }
  .mangeTeahcerSticky {
    position: sticky;
    top: -20px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    border-bottom: 1px solid #ededed;
  }
  ion-item-sliding {
    margin-bottom: 10px;
    border: 1px solid #ededed;
    border-radius: 8px;
  }
}
